###lists

In [1]:
name=["vara","thinavara"]
print (name)

['vara', 'thinavara']

In [2]:
type(name)

list

In [3]:
name

['vara', 'thinavara']

In [4]:
name[-1]

'thinavara'

## List methods

## append

In [5]:
name.append("good morning")

In [6]:
name

['vara', 'thinavara', 'good morning']

In [7]:
new_persons = ["mami","lalesh"]
name

['vara', 'thinavara', 'good morning']

In [11]:
name.append(new_persons)
name

['vara',
 'thinavara',
 'good morning',
 ['mami', 'lalesh'],
 'teacher',
 'thinavra',
 ['teacher', 'thinavra']]

In [13]:
names =["vara","prasad","lalesh"]
new_persons =["teacher","thinavra"]
names.extend(new_persons)
names

['vara', 'prasad', 'lalesh', 'teacher', 'thinavra']

In [14]:
names = ["vara","prasad"]
names[1]="thinavara"
names

['vara', 'thinavara']

dir(names)

In [24]:
numbers = [3,4,3,5,3,7]
numbers.count(3)

3

In [18]:
numbers.count(100)

0

In [ ]:
numbers=[1,2,3,4,5,6,7]

In [28]:
numbers.insert(3,6)

In [29]:
numbers

[3, 4, 3, 6, 6, 6, 6, 5, 3, 7]

In [1]:
vara = [10,30,50,60,60]
vara.reverse()
vara

[60, 60, 50, 30, 10]

In [2]:
vara.sort()
vara

[10, 30, 50, 60, 60]

In [3]:
vara.remove(50)
vara

[10, 30, 60, 60]

In [5]:
vara.pop()
vara

[10, 30, 60]

In [6]:
siddhu = [20,30,10,40,70]
siddhu.pop()
siddhu

[20, 30, 10, 40]

In [7]:
siddhu.pop(2)
siddhu

[20, 30, 40]

In [8]:
siddhu.sort()
siddhu

[20, 30, 40]

In [2]:
siddhu = [12,42,36,34]
for hand in  siddhu:
    print(hand)

12
42
36
34

In [3]:
total = 0
for each in siddhu:
    total = total + each
print(total)

124

find the name of the student who got heighest total marks

In [15]:
student = [["sai",30,40,50],["ram",40,50,60]]
name = ""
total_marks =0
for i in student:
    marks = i[1:]
    student_total = sum(marks)
    if(student_total > total_marks):
        name=i[0]
        total_marks = student_total
print(name)

ram

In [18]:
mylist = [[10,20],[45,30],[30,15]]
mylist.sort()
mylist

[[10, 20], [30, 15], [45, 30]]

In [20]:
mylist.reverse()
mylist.sort()
mylist.reverse()

In [ ]:
for each in mylist

##tuples,()

### methods

In [1]:
myTuple = (10,20,"vara")
myTuple.count(10)

0

In [2]:
myTuple[-1]

'vara'

In [5]:
myTuple.index(20)

ValueError: tuple.index(x): x not in tuple

In [7]:
numbers = (10,20,50,90)
sum(numbers)

TypeError: 'tuple' object is not callable

In [9]:
max(numbers)
min(numbers)

10

## list slicing

In [ ]:
numbers = [3,45,6,2,87]

In [11]:
numbers[0:3]

(10, 20, 50)

In [12]:
numbers[:]

(10, 20, 50, 90)

In [13]:
numbers[5:1:-1]

(90, 50)

In [14]:
numbers[::-1]

(90, 50, 20, 10)

In [16]:
name = "varaprasad"
name[::-1]

'dasarparav'

### Strings

### methods

### 1)startwith(sub_string)

name.startwith("python")

### upper()

In [19]:
name = "vara prasad"
name.upper()

'VARA PRASAD'

In [20]:
name.lower()

'vara prasad'

In [21]:
name = "1234"
name.isdigit()

True

In [22]:
name = "vara"
name.isdigit()

False

In [23]:
name = "vara"
name.isalpha()

True

In [24]:
name = "va ra"
name.isalpha()

False

In [25]:
name = "i am from kakinada"
name.split()

['i', 'am', 'from', 'kakinada']

In [27]:
word = ['i', 'am', 'from', 'kakinada']
"thinavara".join(word)

'ithinavaraamthinavarafromthinavarakakinada'

In [30]:
name = "     vara   "
name.strip()

'vara'

In [29]:
name.lstrip()

'vara'

In [31]:
name.rstrip()

'     vara'

In [32]:
num = "456"
int(num)

456

In [1]:
n=[]
while(1):
    i=input()
    if(i=="Done"):
        break
    elif(i.isdigit()):
        n.append(int(i))
print(min(n)) 
print(max(n))

vara
20
47
prasad
80
thinavara
84
good evening
hi how are you teacher
done
67
Done
20
84

In [ ]:
=int(input("enter"))